.search-page {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
  padding-top: 30px
}

.header {
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.9);
  z-index: 1000;
}

.logo {
  color: #e50914;
  margin: 0;
  font-size: 2rem;
}

.search-container {
  padding: 80px 20px 20px;
}

.search-input {
  width: 100%;
  max-width: 600px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  background-color: #444;
}

.ag-theme-alpine {
  --ag-grid-size: 6px;
  --ag-header-background-color: #181818;
  --ag-odd-row-background-color: #1e1e1e;
  --ag-even-row-background-color: #1e1e1e;
  --ag-background-color: #141414;
  --ag-foreground-color: white; 
  --ag-header-foreground-color: white;
  --ag-row-hover-color: #2a2a2a;
  --ag-selected-row-background-color: #2a2a2a;
}

.ag-theme-alpine .ag-row {
  background-color: transparent !important;
  color: white !important;
}

.ag-theme-alpine .ag-header {
  border-bottom: 1px solid #333;
}

.ag-theme-alpine .ag-paging-panel {
  color: white;
}

.load-more-button {
  margin-top: 16px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #e50914;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.load-more-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.end-message {
  margin-top: 10px;
  font-weight: bold;
  color: gray;
}